
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TP 1.2 Mini books API</title>
</head>
  
  
    <!-- 🚧 This file is a template 🚧 
            put it into a `templates` folder according to the following doc :
            https://flask.palletsprojects.com/en/1.1.x/quickstart/#rendering-templates -->
  
<body>
    {{ book.title }}<br>
    <img src="{{book.thumbnailUrl}}"/><br>
    {% for author in book.authors %}
        {{ author }}<br>
    {% endfor %}
</body>
</html>

